* {
    box-sizing: border-box;  /* makes sure that the padding and border are included in the total width and height of the elements. */
    margin: 0;
    padding: 0;
}

/* global scope */
:root {
    --darkBlue: #0F1931;
    --blue: #2D4159;
    --darkBrown: #594435;
    --brown: #C89768;
    --beige: #E2D4BB;
}

body {
    font-family: sans-serif;
    min-height: 100vh;  /* vh means viewport height */
}

header {
    background-color: var(--darkBrown);
    color: var(--beige);
    padding: 4vh 2vw;
    letter-spacing: 1vw;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

main {
    background-color: var(--darkBlue);
    padding: 4vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

#apod-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.apod-card {
    background-color: var(--blue);
    color: var(--brown);
    font-size: 1rem;
    border-radius: 25px;
    width: 50vw;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.apod-media {
    border-radius: 25px;
    height: auto;
    width: 100%;
}

iframe {
    border-width: 0px;
}

.apod-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--beige);
}

#load-more-btn {
    background-color: var(--darkBrown);
    color: var(--beige);
    font-size: 1rem;
    border-radius: 25px;
    border-width: 0px;
    padding: 1%;
}

#load-more-btn:hover {
    background-color: var(--beige);
    color: var(--darkBrown);
}

footer {
    background-color: var(--darkBrown);
    color: var(--beige);
    padding: 4vh 2vw;
    font-size: 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--brown);
}
